pre {
    font-family: monospace;
    background-color: #fff;
    padding: 0.5em;
    border-radius: .25em;
    line-height: 0;
    counter-reset: line;
    height: 100%;
}

pre .codeLine {
    display: block;
    line-height: 1.5rem;
}

pre .codeLine:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .2em;
    margin-right: .5em;
    width: 2em;
    color: #888
}
